.loginDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(245, 245, 27);
    gap: 1em;
}

.buttonSubmit {

    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: rgb(20, 173, 220);
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {

    transition: 0.4s;
    background-color: lightcoral;
    cursor: pointer;
}